{% if user.is_authenticated %}


{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
  
<style>
.datepicker .form-control,
.timepicker .form-control,
.datetimepicker .form-control {
  background: #fff;
}
</style>

  <script>
  window.console = window.console || function(t) {};
</script>

  
  
  <script>
  if (document.location.search.match(/type=embed/gi)) {
    window.parent.postMessage("resize", "*");
  }
</script>
{% block content %}

<div class="form">

<div class="title"> Ingresa Nuevo Vehiculo</div>
{% if submitted %}
		  Agregado!! 
		  <a href="{% url 'home' %}"> Regresar</a>

	{% else %}


	
	<div class="input-container ic1">
		<form action="" method="POST">
			
		{% csrf_token %}

		{{ form.as_p }}

		<!-- <div class="group">      
		<input type="text" required>
		<span class="highlight"></span>
		<span class="bar"></span>
		<label>Name</label>
		</div>

		<div class="group">      
		<input type="text" required>
		<span class="highlight"></span>
		<span class="bar"></span>
		<label>Email</label>
		</div> -->

		<input type="submit" value="Submit" required class="btn btn-secondary">
		
		</form>
	</div>
{% endif %}	


</div>
<script src="https://cpwebassets.codepen.io/assets/common/stopExecutionOnTimeout-1b93190375e9ccc259df3a57c1abc0e64599724ae30d7ea4c6877eb615f89387.js"></script>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/locale/nl.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js'></script>
      <script id="rendered-js" >
var defaults = {
  calendarWeeks: true,
  showClear: true,
  showClose: true,
  allowInputToggle: true,
  useCurrent: false,
  ignoreReadonly: true,
  minDate: new Date(),
  toolbarPlacement: 'top',
  locale: 'nl',
  icons: {
    time: 'fa fa-clock-o',
    date: 'fa fa-calendar',
    up: 'fa fa-angle-up',
    down: 'fa fa-angle-down',
    previous: 'fa fa-angle-left',
    next: 'fa fa-angle-right',
    today: 'fa fa-dot-circle-o',
    clear: 'fa fa-trash',
    close: 'fa fa-times' } };



$(function () {
  var optionsDatetime = $.extend({}, defaults, { format: 'YYYY-MM-DD HH:mm' });
  var optionsDate = $.extend({}, defaults, { format: 'DD-MM-YYYY' });
  var optionsTime = $.extend({}, defaults, { format: 'HH:mm' });

  $('.datepicker').datetimepicker(optionsDate);
  $('.timepicker').datetimepicker(optionsTime);
  $('.datetimepicker').datetimepicker(optionsDatetime);
});
//# sourceURL=pen.js
    </script>

{% endblock %}


{% else %}
{% include 'accounts/403.html' %}
{% endif %}